body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
  }

   
  /* Remove up and down arrows in number input */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  input[type="number"] {
      -moz-appearance: textfield;
  }
  
  .inputBoxes{
    height: 40px;
    width: 80%;
    text-align: center;
    max-lines: 1;
    border: #888 1px solid;
    border-radius: 5px;
    padding: 2px 20px;
    margin: 10px auto 30px auto;
  }

  #address-form p{
    font-size: 12px;
    text-align: center;
    margin: 20px;
  }

  #buying-section{
    padding: 20px;
    border: #0b2231 2px solid;
    border-radius: 20px;
  }

  #address-form-section{
    margin-top: 50px;
  }
  
  .buy-info{
    text-align: center;
  }

  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
  }

  .form-group label{
    font-size: 20px;
    margin-top: 30px !important;
  }
  
  .horizontal-scroll {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
  }
  
  .horizontal-scroll > div {
    flex: 0 0 auto;
    width: 200px;
    height: 250px;
    margin-right: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
  }
  
  #edit-profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* General Spinner Styling */
  #loading-spinner {
    display: none;
    text-align: center;
    font-size: 18px;
    color: #3498db;
    font-weight: bold;
  }
  
  /* Style for buttons */
  button {
    background-color: #0b2231;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
    width: 95%;
    text-align: center;
    border: none;
    border-radius: 15px;
    margin: 10px auto;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Center spinner in the button */
  #loading-spinner {
    display: none;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  #otp-section {
    display: none;
    margin-top: 20px;
  }
  
  
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  #user-section h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  #user-section h3{
    margin-top: 50px;
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 30px;
    width: 70%;
  }
  
  .form-group input {
    width: 85%;
    margin: 20px auto;
  }
  
  .modal-content button {
    width: 100%;
    margin: 10px auto;
  }
  
  /* Progress Bar Styling */
  #progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  #progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    animation: loading 2s linear infinite;
  }
  
  /* Keyframes for progress bar animation */
  @keyframes loading {
    0% { width: 0%; }
    50% { width: 50%; }
    100% { width: 100%; }
  }

  #productImage{
    border-radius: 0;
    width: 90%;
    margin: 20px auto;
    height: auto;
    
  }
  
